<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy30gUW9wj75rCfeD1ADwn074V74wcfRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>968260717587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.churomobile.lagaceta21k</string>
	<key>PROJECT_ID</key>
	<string>lagaceta21k</string>
	<key>STORAGE_BUCKET</key>
	<string>lagaceta21k.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968260717587:ios:bcc619df38ffa3ce6b03e6</string>
</dict>
</plist>